*{
    margin: 0px;
    padding: 0px;
}

body {
  overflow: hidden;
  background-color: #1C1F2B;
  color: white;
  font-family: monospace;
  /* background-image: url('background.jpg'); */
  /* -webkit-backdrop-filter: blur(1px); */
}

.scrollable {
  overflow: hidden;
  /* scrollbar-color: rebeccapurple green; */
  scrollbar-width: thin;  
  color: white;
  /* margin-left:-20px;
  padding-left:20px; */
}
.scrollable:hover {
  overflow-y: overlay;
}

.scrollable-x {
  overflow: hidden;
  /* scrollbar-color: rebeccapurple green; */
  scrollbar-width: thin;  
  color: white;
  /* margin-left:-20px;
  padding-left:20px; */
}
.scrollable-x:hover {
  overflow-x: overlay;
}




/* header{
    width: 90vw;
    height: 12vh;
    display:flex;
    align-items: center;
} */








content{
  display: flex;
  width: 100vw;
  height: 95vh;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}


.instructions-pane{
  height: 100%;
  width: 37vw;   
  margin-left: 1rem; 
  background-color: #1C1F2B;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}
.instructions-pane h2 {
  font-size: 2rem;
  /* margin-bottom: .5rem; */
}
.instructions-box {
  width: 98%;
  height: 53%;
  /* background-color: red; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: hidden;
  /* border: 2px solid white; */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.instructions {
  width: 100%;
  height: 88%;
  background-color: #303549;
}

.instruction-row {
  width: 100%;
  height: 3rem;
  /* background-color: blue; */
  /* border: 1px solid white; */
  display: flex;
  border-bottom: #1C1F2B 3px solid;
}

.instruction-col-heading {
  background-color: #131417;
  font-weight: bold;
  height: 12%;
  border-bottom: none;
}


.instruction-addr, .instruction-hex, .instruction-decoded {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* border: 1px solid white; */
  color: white;
}

.instruction-addr {
  width: 25%;
  height: 100%;
  /* background-color: lightblue; */
}
.instruction-hex {
  width: 25%;
  height: 100%;
  /* background-color: pink; */
}
.instruction-decoded {
  width: 50%;
  height: 100%;
  /* background-color: purple; */
}



.control-buttons-pane {
  width: 98%;
  height: 32%;
  background-color: #303549;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  border-radius: 10px;
}
.cycle-count-and-file-chooser {
  width: 100%;
  height: 30%;
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.instructions-cycle-wrapper {
  font-size: 1.5rem;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cycle-count {
  margin-left: .5rem;
}

.file-chooser {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-chooser span {
  font-size: 1.2rem;
  width: 50%;
}

.control-buttons-container {
  width: 100%;
  height: 50%;
  /* background-color: darkcyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
}


.control-buttons{
  /* padding: 1rem; */
  /* margin: 0px 2rem; */
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 2rem; */
}
.control-buttons>button{
  width: 8vw;
  height: 2.5rem;
  font-size: 1.2rem;
  font-family: monospace;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  background-color: #1DC49C;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.control-buttons>button:hover{
  background-color: #1DE9B6;
  color: white;
  cursor: pointer;
  transform: translate3d(0%, -10%, 0);
}
.control-buttons>button:active{
  color: white;
  transform: translate3d(0%, 0%, 0);
}
#btn-step {
  background-color: #B64FC8;
}
#btn-step:hover {
  background-color: #EA80FC;
}
#btn-reset {
  background-color: #AC033C;
}
#btn-reset:hover {
  background-color: #D6014F;
}

.slidecontainer {
  width: 45%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.slidecontainer>span {
  /* width: 30%; */
  text-align: center;
  /* margin-right: .5rem; */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


.base-switcher {
  width: 55%;
  height: 50%;
  /* margin-right: .3rem; */
  /* background-color: lightblue; */
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.2rem;
}
.base-switcher>span {
  margin-left: 10%;
  /* margin-right: 1rem; */
}


.dropbtn {
  background-color: #2080CE;
  width: 169px;
  color: white;
  padding: 16px;
  margin-right: 1rem;
  font-size: 16px;
  font-family: monospace;
  border: none;
  border-radius: 5px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #1B1B1B;
  min-width: 169px;
  bottom: 50px;
  z-index: 20;
}

.dropup-content div {
  color: white;
  padding: 12px 1rem;
  text-decoration: none;
  display: block;
}

.dropup-content div:hover {
  background-color: #878888;
  transform: translate3d(0%, -10%, 0);
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2196F3;
}









.timeline-memory-register-pane {
  width: 60%;
  height: 100%;
  /* background-color: lightgray; */
  display: flex;
  flex-wrap: wrap;
}




.timeline-pane{
  height: 50%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}
.timeline-pane h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.timeline-box{
  width: 94%;
  height: 80%;
  /* background-color: blue; */
  /* border: 2px solid white; */
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}    
.timeline-header-box{
  width: 12%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 1.2rem;
}

.timeline {
  width: 88%;
  height: 100%;
  background-color: #303549;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.timeline-col {
  width: 100%;
  height: 20%;
  /* min-height: 100%; */
  /* height: auto; */
  /* background-color: yellow; */
  /* border-top: 2px solid white; */
  /* border-left: 2px solid white; */
  /* border-right: 2px solid white; */
  display: flex;
  justify-content: top;
  align-items: center;
}
.timeline-header {
  /* width: 4rem; */
  height: 100%;
  background-color: #1D1E22;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem; */
  z-index: 1;
  text-align: center;

}
.timeline-cell {
  min-width: 3rem;
  height: 100%;
  /* background-color: green; */
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  color: white;
  border-right: #1C1F2B 3px solid;
  border-bottom: #1C1F2B 3px solid;
}

#cycle > div{
  background-color: #131417;
}

.timeline-header-box > div:first-child{
  background-color: #131417;
}

.stall {
  width: 1.2rem;
  height: 1.2rem;
  margin: 1px;
  border: 5px solid white;
  border-radius: 50%;
}







.register-pane{
  height: 50%;
  width: 50%;
  /* background-color: rgb(18, 17, 17); */
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.memory-pane {
  height: 50%;
  width: 50%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.memory-box, .register-box{
  height: 90%;
  width: 90%;
  background-color: #303549;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  /* overflow-y: hidden; */
}
/* .tabinator {
  background: #fff;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabinator h2 {
  text-align: center;
  margin-bottom: 20px;
}
.tabs-header input {
  display: none;
}
.tabs-header label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: -1px;
}
.tabs-header label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;  
}
.tabs-header label:hover {
  color: #888;
  cursor: pointer;
}
.tabs-header input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabs-header input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 0 0 15px #939393;
} */
#register, #memory {
  /* display: none; */
  /* border-top: 1px solid #bbb;
  padding: 15px; */
  /* width: 23vw; */
  /* height: 50vh; */
  width: 100%;
  height: 100%;
}
/* #register-tab:checked ~ #register,
#memory-tab:checked ~ #memory {
  display: block;
  box-shadow: 0 0 15px #939393;
} */
.register-heading-container, .memory-heading-container {
  width: 100%;
  /* height: 12%; */
  z-index: 10;
  border-radius: 10px;
  /* background-color: #131417; */
  /* background-attachment: black; */
}
.register-col-heading > div {
  background-color: #131417;
}
.register-container, .memory-container {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  /* margin-top: -4px; */
  /* background-color: lightgray; */
}

/* .memory-container {
  width: 100%;
  height: 100%;
  background-color: pink;
} */

.register-row, .memory-row{
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: lightgreen; */
  /* border: 1px solid white; */
  border-bottom: #1C1F2B 3px solid;
}
.register-name, .register-value, .memory-address, .memory-value, .memory-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  /* border: 1px solid white; */
  border-right: #1C1F2B 3px solid;
  background-color: #303549;
}

.register-name {
  width: 30%;
  height: 100%;
  /* background-color: red; */
}
.register-value {
  width: 70%;
  height: 100%;
  /* background-color: lightgreen; */
}
.register-col-heading {
  background-color: #131417;
  font-weight: bold;
  /* border: 1px solid white; */
  /* border-bottom: 4px solid white; */
}
.register-col-heading>div {
  border-right: none;
}
.memory-heading-container>div>div {
  border-right: none;
}
.memory-col-heading {
  border-right: none;
}


.memory-address {
  width: 40%;
  height: 100%;
  /* background-color: red; */
}
.memory-value {
  width: 60%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
}
.memory-cell {
  width: 25%;
  height: 100%;
  /* background-color: #303549; */
  /* border: 1px solid white; */
}
.memory-col-heading  {
  background-color: #131417;
  font-weight: bold;
  /* border-bottom: 4px solid white; */
}
.register-heading-container {
  background-color: #131417;
  z-index: 200;
}













:root{
  --bgColor : hsla(242, 56%, 6%, 1);
  --bgColorLight : hsla(242, 86%, 24%, 1);
  --textColor : hsla(242, 86%, 88%, 1);
  --textColorDark : hsla(242, 36%, 0%, 1);
  --paperColor: #2080CE;
  /* --paperColor: hsla(242, 86%, 44%, 1); */
  /* --paperColorDark: hsla(242, 86%, 34%, 1); */
  --paperColorDark: #2196F3;
  --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
}

::selected{
  color: var(--textColorDark);
}

*{
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

#thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}

label.file{
  display: inline-block;
  /* transform: translate3d(-50%, -50%, 0); */
  /* padding: .7rem 1.5rem; */
  height: 60%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--paperColor);
  color: white;
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 0 20px 60px var(--shadowColorFaint);
  cursor: pointer;
}

label.file:hover{
    background: var(--paperColorDark);
    transform: translate3d(0%, -5%, 0);
}

label.file:active{
    background: var(--paperColorDark);
    transform: translate3d(0%, 5%, 0);
}

label.file.normal{
  transform: translate3d(10%, 50%, 0);
  /* padding: 0.2rem 2rem; */
  font-size: 1rem;
  top: 0;
  left: 0;
}















/* Shadows for dark theme */

.dp01 {
	background-color: hsla(0, 100%, 100%, 0.05);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.dp02 {
	background-color: hsla(0, 100%, 100%, 0.07);
	box-shadow:
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

.dp03 {
	background-color: hsla(0, 100%, 100%, 0.08);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 3px 4px 0px hsla(0,0%,0%,0.14), 
		0px 3px 3px -2px hsla(0,0%,0%,0.12), 
		0px 1px 8px 0px hsla(0,0%,0%,0.2);
}

.dp04 {
	background-color: hsla(0, 100%, 100%, 0.09);	
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 4px 5px 0px hsla(0,0%,0%,0.14), 
		0px 1px 10px 0px hsla(0,0%,0%,0.12), 
		0px 2px 4px -1px hsla(0,0%,0%,0.2);
}

.dp06 {
	background-color: hsla(0, 100%, 100%, 0.11);	
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 6px 10px 0px hsla(0,0%,0%,0.14), 
		0px 1px 18px 0px hsla(0,0%,0%,0.12), 
		0px 3px 5px -1px hsla(0,0%,0%,0.2);
}

.dp08 {
	background-color: hsla(0, 100%, 100%, 0.12);	
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 8px 10px 1px hsla(0,0%,0%,0.14), 
		0px 3px 14px 2px hsla(0,0%,0%,0.12), 
		0px 5px 5px -3px hsla(0,0%,0%,0.2);
}

.dp12 {
	background-color: hsla(0, 100%, 100%, 0.14);	
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 12px 17px 2px hsla(0,0%,0%,0.14), 
		0px 5px 22px 4px hsla(0,0%,0%,0.12), 
		0px 7px 8px -4px hsla(0,0%,0%,0.2);
}

.dp16 {
	background-color: hsla(0, 100%, 100%, 0.15);	
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 16px 24px 2px hsla(0,0%,0%,0.14), 
		0px 6px 30px 5px hsla(0,0%,0%,0.12), 
		0px 8px 10px -5px hsla(0,0%,0%,0.2);
}

.dp24 {
	/* background-color: hsla(0, 100%, 100%, 0.16);	 */
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 24px 38px 3px hsla(0,0%,0%,0.14), 
		0px 9px 46px 8px hsla(0,0%,0%,0.12), 
		0px 11px 15px -7px hsla(0,0%,0%,0.2);
}