*{
    margin: 0px;
    padding: 0px;
}

body {
  overflow: hidden;
}

.scrollable {
  overflow-y: scroll;
  /* scrollbar-color: rebeccapurple green; */
  scrollbar-width: thin;  
  color: white;
  /* margin-left:-20px;
  padding-left:20px; */
}

header{
    width: 90vw;
    height: 12vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.control-buttons{
  /* padding: 1rem; */
  display: flex;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
}
.control-buttons>button{
  width: 7vw;
  height: 30px;
}
content{
  display: flex;
  width: 98vw;
  height: 85vh;
  flex-wrap: wrap;
  justify-content: space-around;
}
.instructions-pane{
  height: 100%;
  width: 37vw;    
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instructions {
  width: 80%;
  height: 80%;
  background-color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.timeline-pane{
  height: 100%;
  width: 30vw;
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-box{
  width: 24rem;
  height: 80%;
  background-color: blue;
  border: 2px solid black;
}    
.timeline-header-box{
  height: 10%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: left;
}
.timeline-header {
  width: 4rem;
  height: 100%;
  background-color: orange;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
}
.timeline {
  width: 25rem;
  height: 90%;
  /* background-color: green; */
  display: flex;
  justify-content: left;
}
.timeline-col {
  width: 4rem;
  min-height: 100%;
  height: 100vh;
  background-color: yellow;
  border: 2px solid black;
}
.memory-pane{
  height: 100%;
  width: 30vw;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.memory-box{
  height: 95%;
  width: 90%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabinator {
  background: #fff;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabinator h2 {
  text-align: center;
  margin-bottom: 20px;
}
.tabs-header input {
  display: none;
}
.tabs-header label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: -1px;
}
.tabs-header label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color:#fff;
  position:absolute;
  bottom:-11px;
  left:0;
  z-index:10;  
}
.tabs-header label:hover {
  color: #888;
  cursor: pointer;
}
.tabs-header input:checked + label {
  position: relative;
  color: #000;
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-radius: 5px 5px 0 0;
}
.tabs-header input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 0 0 15px #939393;
}
#register, #memory {
  display: none;
  border-top: 1px solid #bbb;
  padding: 15px;
  width: 23vw;
  height: 58vh;
}
#register-tab:checked ~ #register,
#memory-tab:checked ~ #memory {
  display: block;
  box-shadow: 0 0 15px #939393;
}


















